<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Backend:
        Templates:
          Nyheter:
            List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="Buttons">
    <be:moduleLayout.button.linkButton
        icon="actions-add"
        title="{f:translate(id: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:newRecordGeneral')}"
        link="{f:uri.action(controller: 'Nyheter', action: 'new')}"
    />
</f:section>

<f:section name="Content">
    <h1>Listing for Nyheter youpiii!!!!</h1>

    <f:flashMessages />

    <table class="tx_baaraftonbladet">
        <tr>
            <th><f:translate key="tx_baaraftonbladet_domain_model_nyheter.title" /></th>
            <th><f:translate key="tx_baaraftonbladet_domain_model_nyheter.text" /></th>
            <th><f:translate key="tx_baaraftonbladet_domain_model_nyheter.author" /></th>
            <th><f:translate key="tx_baaraftonbladet_domain_model_nyheter.date" /></th>
            <th>Tags</th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{nyheters}" as="nyheter">
            <tr>
                <td><f:link.action action="show" arguments="{nyheter: nyheter}">{nyheter.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{nyheter: nyheter}">{nyheter.text}</f:link.action></td>
                <td><f:link.action action="show" arguments="{nyheter: nyheter}">{nyheter.author}</f:link.action></td>
                <td><f:link.action action="show" arguments="{nyheter: nyheter}">{nyheter.date}</f:link.action></td>
                <td>
                <f:for each="{nyheter.tags}" as="tag">
                    {tag.text}<br />
                </f:for>
                </td>
                <td><f:link.action action="edit" arguments="{nyheter: nyheter}" class="btn btn-default">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{nyheter: nyheter}" class="btn btn-danger">Delete</f:link.action>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new" class="btn btn-default">New Nyheter</f:link.action>
    <f:link.action action="downloadJson" class="btn btn-info" format="json">Download JSON Format</f:link.action>
    <f:link.action action="downloadCsv" class="btn btn-default">Download CSV</f:link.action>
</f:section>
</html>
