<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<table class="tx-baaraftonbladet" >
	<tr>
		<td><f:translate key="tx_baaraftonbladet_domain_model_nyheter.title" /></td>
		<td>{nyheter.title}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_baaraftonbladet_domain_model_nyheter.text" /></td>
		<td>{nyheter.text}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_baaraftonbladet_domain_model_nyheter.author" /></td>
		<td>{nyheter.author}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_baaraftonbladet_domain_model_nyheter.date" /></td>
		<td>{nyheter.date}</td>
	</tr>
</table>
</html>
