<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_baaraftonbladet_domain_model_nyheter.title" />
</label><br />
	<f:form.textfield property="title" id="title" /><br />
<label for="text">
	<f:translate key="tx_baaraftonbladet_domain_model_nyheter.text" />
</label><br />
	<f:form.textarea property="text" id="text" cols="40" rows="15" /><br />
<label for="author">
	<f:translate key="tx_baaraftonbladet_domain_model_nyheter.author" />
</label><br />
	<f:form.textfield property="author" id="author" /><br />
<label for="date">
	<f:translate key="tx_baaraftonbladet_domain_model_nyheter.date" />
</label><br />
	<f:form.textfield property="date" id="date" /><br />
</html>